.capabilities {
    box-sizing: content-box;
    color: black;
    height: 67.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: appear 2s forwards;
    animation-iteration-count: 1;
    animation-delay: 3s;
}

@keyframes appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.words {
    overflow: hidden;
}

.capabilities span{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    animation: spin_words 12s infinite;
    animation-delay: 3s;
}

@keyframes spin_words {
    10%{
        transform: translateY(1%);
    }
    20%{
        transform: translateY(0%);
    }
    30% {
        transform: translateY(-101%);
    }

    40% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateY(-201%);
    }

    60% {
        transform: translateY(-200%);
    }

    70% {
        transform: translateY(-301%);
    }

    80% {
        transform: translateY(-300%);
    }

    90% {
        transform: translateY(-401%);
    }

    100% {
        transform: translateY(-400%);
    }
}
