.bg-grid-container {
    animation: fadeInGrid 2.5s ease-in;
}

@keyframes fadeInGrid {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

.bgblock {
    background-color: #151515;
    width: 55px;
    height: 45px;
    border-radius: 7.5px;
    transition: all 0.2s ease;
}

.bgblock-grid {
    position: absolute;
    overflow: hidden;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(40, 55px);
    gap: 4px;
    padding-top: 20px;
}

.complexity-text {
    position: absolute;
    top: 35vh;
    left: 28vw;
    font-size: 52.5px;
    animation: fadeIN 3s ease-in;
}

@keyframes fadeIN {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.grid-email {
    position: relative;
    top: 50vh;
    width: 540px;
    height: 137px;
    left: 32vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: email-translate 1s linear 4.5s;
}

@keyframes email-translate {
    0% {
        top: 55vh;
    }

    100% {
        top: 50vh;
    }
}