/* Features sections css start */
.features-container {
    position: relative;
    height: 500px;
    transition: all 1s ease;
}

.jcCenter {
    justify-content: center;
    gap: 22px;
    padding-top: 35px;
}

/* News section css */
.news-section {
    width: 625px;
    height: 500px;
    background-color: #151515;
    border-radius: 7.5px;
}

/* News section css ends */

.concall-section {
    width: 633px;
    background-color: #151515;
    border-radius: 7.5px;
    transition: all 0.2s;
}

.corporate-section {
    width: 625px;
    height: 566px;
    background-color: #151515;
    border-radius: 7.5px;
}

.forensic-section {
    width: 625px;
    height: 370px;
    background-color: #151515;
    border-radius: 7.5px;
}

.features-animate{
    transition: opacity 0.6s;
}