.center-mask {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: LastAnimation 10s forwards 10s;
}

@keyframes LastAnimation {
    0%{
        overflow: visible;
    }
    20%{
        overflow: visible;
        padding-top: 150px;
    }
    100%{
        overflow: hidden;
        padding-top: 0;
    }
}

.grid-container {
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(30, 625px);
    gap: 27px;
    grid-template-rows: repeat(10, minmax(550px, auto));
    animation: scaleIn 10s forwards 12s;
}

@keyframes scaleIn {
    0% {
        scale: 1;
        gap: 20px;
    }

    25% {
        scale: 1;
        gap: 20px;
    }

    55% {
        scale: 0.3;
        gap: 40px;
    }

    65% {
        scale: 0.3;
        gap: 40px;
    }

    100% {
        scale: 0.1;
        gap: 60px;
    }
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 625px;
    height: 550px;
    background-color: #222222;
    opacity: 0;
    animation: gridHide 20s forwards;
}

@keyframes gridHide {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        border-radius: 70px;
    }
}

/* .initial-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 500px;
    height: 500px;
    background-color: #151515;
    border-radius: 15px;
} */

.news-section {
    width: 625px;
    height: 500px;
    background-color: #222222;
    border-radius: 7.5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    animation: newsAnimate 12s forwards 10s;
}

@keyframes newsAnimate {
    10% {
        align-items: center;
        height: 550px;
        width: 625px;
    }
    100%{
        align-items: center;
        height: 550px;
        width: 625px;
        border-radius: 70px;
    }
}

.concall-section {
    width: 625px;
    height: 609px;
    background-color: #222222;
    border-radius: 7.5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: all 0.2s;
    animation: concallAnimate 12s forwards 10s;
}

@keyframes concallAnimate {
    10% {
        align-items: center;
        height: 550px;
        width: 625px;
    }
    100%{
        align-items: center;
        height: 550px;
        width: 625px;
        border-radius: 70px;
    }
}

.corporate-section {
    position: relative;
    width: 625px;
    height: 550px;
    background-color: #222222;
    border-radius: 7.5px;
    animation: corporateAnimate 12s forwards 10s;
}

@keyframes corporateAnimate {
    10% {
        align-items: center;
        height: 550px;
        width: 625px;
        top: 0;
    }
    100%{
        align-items: center;
        height: 550px;
        width: 625px;
        top: 0;
        border-radius: 70px;
    }
}

.forensic-section {
    width: 625px;
    height: 460px;
    background-color: #222222;
    border-radius: 7.5px;
    animation: forensicAnimate 12s forwards 10s;
}

@keyframes forensicAnimate {
    10% {
        align-items: center;
        height: 550px;
        width: 625px;
    }
    100%{
        align-items: center;
        height: 550px;
        width: 625px;
        border-radius: 70px;
    }
}