/* Features sections css start */
.features-container {
    position: relative;
    height: 500px;
    transition: all 1s ease;
}

.jcCenter {
    justify-content: center;
    gap: 22px;
    padding-top: 35px;
}

/* News section css */
.news-section {
    width: 625px;
    height: 500px;
    background-color: #151515;
    border-radius: 7.5px;
}

/* News section css ends */

.concall-section {
    width: 633px;
    background-color: #151515;
    border-radius: 7.5px;
    transition: all 0.2s;
}

.corporate-section {
    width: 625px;
    height: 566px;
    background-color: #151515;
    border-radius: 7.5px;
}

.forensic-section {
    width: 625px;
    height: 370px;
    background-color: #151515;
    border-radius: 7.5px;
}

.features-animate {
    padding-bottom: 100px;
    transition: opacity 0.6s;
}

.grid-container {
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, calc(40%));
    height: 50px;
    gap: 36px;
    align-items: center;
    justify-content: center;
    animation: grid-animate 3s forwards;
    transition: all 2s ease-in;
}

@keyframes grid-animate {
    0% {
        scale: 1;
        font-size: 26px;
    }

    100% {
        scale: 0.29;
        font-size: 90px;
    }
}

.blocks {
    width: 600px;
    height: 600px;
    background-color: #151515;
    border-radius: 10px;
    text-align: center;
    transition: scale 1s ease;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 120px;
}

.invisibility {
    opacity: 0;
}

.skeleton-1 {
    width: 130px;
    height: 19px;
    background-color: #777777;
    border-radius: 4px;
    transform: scale(3.5);
}

.skeleton-2 {
    width: 90px;
    height: 19px;
    background-color: #777777;
    border-radius: 4px;
    transform: scale(3.5);
}