@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&family=Poppins:wght@300;400;700&family=Ubuntu:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  color: white;
  font-family: 'Poppins', sans-serif;
}

hr {
  padding: 0;
  margin: 0;
}

.pr-30 {
  padding-right: 30px;
}

.p-10 {
  padding: 10px 0;
}



.hero-text {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-text-content {
  position: relative;
  color: #222;
  animation-fill-mode: forwards;
  opacity: 100%;
}

.hero-text-content:nth-child(1):before {
  content: attr(data-text);
  position: absolute;
  color: #FFFFFF;
  width: 0px;
  overflow: hidden;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  animation: animate 3s forwards;
  animation-iteration-count: 1;
}

.hero-text-content:nth-child(2):before {
  content: attr(data-text);
  position: absolute;
  color: #FFFFFF;
  width: 0px;
  overflow: hidden;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  animation: animate 3s forwards;
  animation-delay: 3s;
  animation-iteration-count: 1;
}

@keyframes animate {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
    color: #fff;
    opacity: 70%;
  }
}

.capabilities {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.capabilities-animate {
  animation: fade-in1 4s forwards;
  animation-delay: 8s;
  opacity: 0;
  animation-fill-mode: forwards;
  color: black;
}
@keyframes fade-in1 {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(10px);
  }
}
/* .capabilities-animate:before {
  content: attr(data-text);
  position: absolute;
  width: 0px;
  overflow: hidden;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  opacity: 100%;
  animation: animate1 4s forwards;
  animation-delay: 6s;
  animation-iteration-count: 1;
}

@keyframes animate1 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
    color: white;
    opacity: 100%;
  }
} */
.animate-roll{
  animation: fade-out 4s infinite;
  animation-delay: 8s;
}
@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(10px);
  }
  to {
    opacity: 0;
    transform: translateY(-10);
  }
}
.hero-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  opacity: 0;
  animation: fade-in 6s forwards;
  animation-delay: 15s;
}

@keyframes fade-in {
  100% {
    opacity: 100%;
  }
}

.hero-form-heading {
  font-size: 14px;
  font-weight: 400;
  padding-top: 24px;
  padding-bottom: 12px;
}

.hero-form-input {
  border-radius: 50px;
  padding: 7px;
  background-color: #444444;
  height: 40px;
  display: flex;
  flex-direction: row;
}

.hero-form-input input {
  padding: 12px 30px;
  background: none;
  border: none;
  color: #FFFFFF;
  border-radius: 50px;
  outline: none;
}

.hero-form-input button {
  border-radius: 50px;
  padding: 5px 20px;
  width: fit-content;
  font-size: 14px;
  font-weight: 300;
  background-color: #278AFF;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.video-container {
  position: absolute;
  top: 16vw;
  left: 0;
  width: 100%;
  z-index: -1;
  overflow: none;
  opacity: 30%;
  animation: fade-in 8s forwards;
}

video {
  object-fit: fill;
  width: 100%;
  background-color: #03213B;
}

.about {
  padding-top: 50px;
  position: relative;
  z-index: 1;
  text-align: center;
  justify-content: center;
  margin-top: 45vw;
  color: #fff;
  height: 45vh;
}

.about .text {
  font-size: 40px;
  margin: auto;
  padding-top: 10px;
}

.fade_rule {
  height: 1px;
  width: 66.0em;
  margin: 0 auto;
  background-image: linear-gradient(to left, #001B2D 0%, #AAAAAA 50%, #001B2D 100%),
    linear-gradient(to right, #001B2D 0%, #AAAAAA 50%, #001B2D 100%);
  background-repeat: no-repeat;
  background-position: top, bottom;
  background-size: 100% 100%;
}


.about .about-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.gradient-background {
  z-index: 1;
  background: linear-gradient(to bottom, #03213B, #000101);
  opacity: 0%;
  animation: fade-in 10s forwards;
  animation-delay: 10s;
}