
@keyframes easeIn {
    0% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

@keyframes easeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.animation-container {
    display: inline-block;
    position: relative;
}

.ease-in-out {
    animation: easeIn 3s ease-in;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}